body {
    background-color: #000; 
    color: antiquewhite;
    font-size: 21px; 
    font-family: sans-serif; 
    
} 

p{
    color:cadetblue
}

h1{
    font-size: 70px; 

}

#head {color: green;}
          tbody {color: blue;}
          #namn {color: red;}
          #tele {color: #A43B97;}
          
          table, th, td {
            border: 1px solid black;
          } 

/*div {

background-color:#A43B97 ;
width: 500px;
color: #2f52b3; 
} 
*/


.topdiv{
    background-color: pink; color: black; 
}

.bottomdiv {
    background-color: rgb(148, 40, 58); color:#000;
}